logger:
  level: "debug"
  format: "console"
  director: "logs"
  show_line: true
  log_in_console: true
  max_size: 100      # 单个文件最大100MB
  max_backups: 30    # 保留30个备份
  max_age: 30        # 保留30天
  compress: true     # 压缩旧日志


mysql:
  host: "127.0.0.1"
  port: 3306
  user: "root"
  password: "123456"
  dbname: "skk_server"
  charset: "utf8mb4"
  max_open_conns: 100
  max_idle_conns: 10

jwt:
  secret: "112233"
  accessExpire: 3600
  refreshExpire: 604800       

http:
  addr: "9999"
  read_timeout: 10
  write_timeout: 10
  cors:
    enabled: true
    allow_origins:
      - "http://localhost:3006"
      - "https://*.example.com"
      - "http://192.168.*.*"